/* src/styles/Layout.css */

.layout-container {
  display: flex;
  width: 100%;
}

.main-content {
  margin-left: 260px; /* Must match Sidebar width */
  width: calc(100% - 260px);
  min-height: 100vh;
  background-color: #f8fafc; /* Light gray background */
  padding: 20px;
}