# Ignore the dataset and venv
dataset/
venv/
.venv_image/
__pycache__/
*.pyc

# We are un-ignoring .h5 so the AI model can be deployed
# dataset/
# venv/
node_modules/

# OS metadata and secrets
.DS_Store
.env
mission17-mobile/firebase-service-account.json

# Agent Customizations
.agents/

# Downloaded files
drive_downloads/
